* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
}

#heading {
  text-align: center;
  color: rgb(226, 226, 226);
  padding: 50px 0px
}

#container {
  margin: 0 auto;  
  translate: (-50% -50%);  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#playerStats {
  width: 600px;
  height: auto;
  border: 5px solid rgb(0, 0, 0);
  border-bottom: none;
  background-color: rgb(63, 63, 63);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  color: rgb(226, 226, 226);
}

#monsterStats {
  border: 5px solid rgb(0, 0, 0);
  border-bottom: none;
  width: 600px;
  display: none;
  align-items: center;
  justify-content: center;
  color: rgb(202, 0, 0);  
}

#screen {  
  width: 600px;
  height: 400px;
  background-color: black;
  border: 5px solid rgb(0, 0, 0);
}

#text {
  width: 600px;
  height: auto;
  border: 5px solid rgb(0, 0, 0);
  border-top: none;
  padding: 10px;
  background-color: rgb(63, 63, 63);
  color: rgb(226, 226, 226);        
  text-align: center;
}

#narration {
  padding: 10px;
}

.btn {
  padding: 5px 8px;
  margin: 10px;
  background-color: black;
  color: lightblue;  
}

.btn:hover {
  background-color: white;
  color: steelblue;
  transition: 0.5s;
}

#narration {
  padding: 10px;
}

#dialog {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerDialog {
  border: none;
  border-bottom: 1px solid rgb(139, 223, 124);
  border-radius: 3px;
  padding: 3px;
  color: rgb(139, 223, 124);
  background-color: rgb(63, 63, 63);
}

.playerDialog:hover {
  border-bottom: 1px solid rgb(170, 236, 251);
  color: rgb(170, 236, 251);
  transition: 0.5s;
}